@import url('//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('//unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css'); 
@import url('//fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h2 {
    color: white;
}
html {
    overflow: hidden;
}
.row {
    width: fit-content;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    align-content: center;
    justify-content: center;
}

.column {
    color: #FFF;
    display: inline-block;
    border: 2px solid;
    padding-right: 250px;
    font-size: 10px;
}
.column:hover {
    background-color: gray;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.column h2, .column h4 {
    padding-left: 10px;
    font-size: large;
}
.column a {
    border: 3px solid;
    border-color: #fff;
    text-align: left;
    background-color: transparent;
    color: #fff;
}
.changelog {
    vertical-align:top; 
    padding-left: 5%; 
    color: white;
    height: fit-content;
}
.message {
    color: white;
    text-align: right;
    width: fit-content;
    justify-content: center;
    display: block;
    left: 70%;
    top: -490px;
    position: relative;
}
.changes {
    overflow-y: auto; height:150px; width: 20%; background-color: rgb(32, 32, 32);
}
h3 .changes {
    padding:10px; vertical-align: top; font-size: medium; font-weight: 500;
}
h3 {
    font-size: medium;
}
.banner {
    display: inline; padding-top: 6%;
}
.banner h1 {
    animation: fadein 2s;
}
.banner h2 {
    animation: fadein 4s; padding-left: 12%;
}
.banner h4 {
    animation: fadein 6s; font-weight: 300; padding-left: 30%;
}
.quicknav {
    border-top: 5px white solid; padding-top: 0.5%; padding-bottom:100%; position: relative; width: -100px; background-color: rgb(51, 51, 51);
top:-160px
}
.quicknav h2 {
    text-align: center; position: relative; padding-bottom: 0.2%;
}
.navbar {
    background-color: rgb(34, 34, 34);
    color: #FFF;
    border-bottom: 3px solid;
    width: 100%;
    display: inline-flex;
    align-items: center;
    z-index: 500;
    height: 4.2vh;
    padding-left: 0.2%
}
a, a:link, a:visited {
    color: #FFFAFA;
    text-decoration: underline;
}
.navbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: medium;
    color: white;
    font-family:'ubuntu', sans-serif;
    border-left:3px solid;
    border-right: 3px solid;
    transition: 0.2s;
    height: 4.2vh;
}
.navbar button:hover {
    background-color: rgb(255, 166, 0);
    transition: 0.2s;
}
.title {
    text-align: center;
    color: #FFF;
    position: relative;
    padding-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner {
    width: fit-content;
    margin: auto;
    position: relative;
    top: -150px;
    color: white;
}
.banner h2 {
    font-weight: 450;
    font-size: larger;
}
body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #FFF;
}

.logo-wrapper h1 {
    color: white;
}

footer {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
}
.poll {
    margin: auto;
}
.desc {
    display: flex;
    justify-content: center;
    text-align: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
